/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --Font: #E9ECF8;
    --White: #FFFFFF;
    --Dark-Blue: #0A3871;
    --Gray: #343A40;
    --Medium-Gray: #67808E;
    --Light-Gray: #C5C5C5;
    --White-Blue: #D8DFE8;
    --Medium-Blue: #0a38718a;
    --Shadow-Overlay: rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background: var(--White);
}

::selection {
    background: var(--Dark-Blue);
    color: var(--White);
}

body {
    height: 100%;
}

img {
    max-width: 100%;
}

/* Header */
header {
    position: absolute;
    margin: 40px 0 0 40px;
}

header .logo {
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/* Main */
main {
    display: flex;
    flex-direction: row;
    background: url(../imagenes/portada.png) no-repeat center/cover;
}

.encriptador {
    width: 60%;
    margin: 168px 0 0 140px;
    background: transparent;
}

.encriptar {
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    border: 1px solid var(--Light-Gray);
    border-radius: 15px;
    resize: none;
}

.encriptar::placeholder,
.encriptar:focus {
    color: var(--Dark-Blue);
}

.encriptador-aviso {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 500px;
}

.texto-aviso {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--Medium-Gray);
}

.encriptador-contenedor {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}

.btn-encriptar,
.btn-desencriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 20px 29px -5px var(--Shadow-Overlay);
}

.btn-encriptar {
    color: var(--White);
    background: var(--Dark-Blue);
    border: 1px solid var(--Dark-Blue);
}

.btn-encriptar:active {
    box-shadow: inset 2px 2px 4px var(--Font), inset -3px -4px 8px var(--Dark-Blue);
    color: var(--White-Blue);
}

.btn-desencriptar {
    color: var(--Dark-Blue);
    background: var(--White-Blue);
    border: 1px solid var(--Dark-Blue);
}

.btn-desencriptar:active {
    box-shadow: inset 2px 2px 4px var(--Dark-Blue), inset -3px -4px 8px var(--Font);
    color: var(--Medium-Blue);
}

.btn-copiar {
    width: 224px;
    height: 67px;
    margin: 23px;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--White-Blue);
    border: 1px solid var(--Dark-Blue);
    border-radius: 20px;
    cursor: pointer;
    visibility: hidden;
}

.btn-copiar:active {
    box-shadow: inset 2px 2px 4px var(--Dark-Blue), inset -3px -4px 8px var(--Font);
    color: var(--Medium-Blue);
}

.tarjeta {
    width: 270px;
    height: 580px;
    background: var(--Font);
    box-shadow: 10px 24px 32px -8px var(--Gray);
    border-radius: 32px;
    text-align: center;
    position: relative;
    margin-top: 40px;
}

.tarjeta-contenedor {
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--Font);
}

.img-muñeco {
    background: var(--Font);
}

.texto-uno {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: var(--Gray);
    background: var(--Font);
}

.texto-dos {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--Medium-Gray);
    background: var(--Font);
}

.evaluar {
    width: 100%;
    height: 485px;
    padding: 20px;
    top: 0;
    left: 0;
    font-size: 24px;
    line-height: 36px;
    color: var(--Gree);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}

.evaluar:focus {
    outline: none;
}

/* Footer */
footer {
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--Font);
    color: var(--Gray);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.linked:hover {
    color: var(--Font);
    opacity: 0.8;
}

.git:hover {
    color: var(--Font);
    opacity: 0.6;
}

/* Media Queries */
/*MediaQ*/
@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador-contenedor{
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encriptador-aviso{
        position: inherit;
        margin: 15px;
    }   
    
    .tarjeta{
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }

    .img-muñeco{
        display: none;
    }

    .btn-copiar{
        position: inherit;
        width: 100%;
    }

    .evaluar{
        width: 100%;
        height: 210px;
        padding: 10px;
    }
}


@media(max-width: 720px){
    
    header .logo{
        width: 100%;
        background: var(--White);
        padding: 2px;
    }

    .encriptar{
        width:  90%;
        font-size: 24px;
    }

    .encriptador-contenedor{
        display: grid;
        gap: 21px;
    }

    .tarjeta{
        width: 90%;
    }

    .copyright{
        font-size: 20px;
    }
}























